.card{
    display: flex;
    flex-direction: column;

    width: 18.75rem;
    height: 25rem;

    background-color: var(--color-type);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0.75rem;
    color: var(--color-white);
}


.card__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: var(--spacing-base) var(--spacing-small) 0px var(--spacing-base);
}
.card__imgHolder {
    position: relative;
}
.card__id {
    display: flex;
    align-items: center;
}
.card__info{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    margin: auto var(--spacing-xtiny) var(--spacing-xtiny) var(--spacing-xtiny);
    padding: 3.5rem var(--spacing-base) var(--spacing-xtiny) var(--spacing-base);
    height: 15rem;    
    background-color: white;
    color: var(--color-dark-gray);
    border-radius: 0.75rem;
}
.card__tags {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0.625rem;
}

.card__physical {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 3.25rem;
}
.card__measure {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.card__measure:not(:last-child) {
    border-right: 1px solid var(--color-light-gray);
    padding-right: var(--spacing-base);
}
.card__measure:not(:first-child) {
    padding-left: var(--spacing-base);
}

.card__measureStats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 8px;
    align-content: center;
}

.card__measureText {
    margin-top: auto;
    color:var(--color-medium-gray);
    text-align: center;
}

.card__about {
    color: var(--color-type);
}
.card__description {
    text-align: justify;
    text-justify: inter-word;
}
.card__img{
    height: 9.375rem;
    width: 9.375rem;
    position: absolute;
    z-index: 1;
    margin: auto;
    left: 0;
    right: 0;
}