.card__type--fire {
    --color-card-type: var(--color-type-fire)
}
.card__type--ice {
    --color-card-type: var(--color-type-ice)
}
.card__type--grass {
    --color-card-type: var(--color-type-grass)
}
.card__type--water {
    --color-card-type: var(--color-type-water)
}


.card{
    display: flex;
    flex-direction: column;

    width: 18.75rem;
    height: 25rem;

    background-color: var(--color-card-type);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0.75rem;
    color: var(--color-white);
}


.card__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: var(--spacing-base) var(--spacing-small) 0px var(--spacing-base);
}
.card__title {

}
.card__id {
    display: flex;
    align-items: center;
}
.card__info{
    margin-top: auto;
    margin: auto var(--spacing-xtiny) var(--spacing-xtiny) var(--spacing-xtiny);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 15rem;
    gap: 1rem;
    border-radius: 0.75rem;
    color: var(--color-dark-gray);
    justify-content: flex-start;
    padding: 3.5rem var(--spacing-base) var(--spacing-xtiny) var(--spacing-base);
}
.card__physical {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 3.25rem;
}
.card__physical--weight {
    padding-right: var(--spacing-base);
    border-right: 1px solid var(--color-light-gray);
}
.card__physical--height {
    padding-left: var(--spacing-base)
}
.card__about {
    color: var(--color-card-type);
}
.card__description {
    text-align: justify;
    text-justify: inter-word;
}
